@model IEnumerable<TrashCollector.Web.Models.DCustomer>

@{
    ViewData["Title"] = "Index";
}
<form asp-controller="Employee" asp-action="TodaysPickUps" method="GET">
    <div class="form-group">
    <label>Filter</label>
    <select name="Day" class="form-control">
        <option value="0">Today</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>
</div>
<button type="submit">Filter</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTimePickUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendPickupsStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendPickupsEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneTimePickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspendPickupsStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspendPickupsEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Confirm Pick Up</a>
            </td>
        </tr>
}
    </tbody>
@if(!Model.Any()){
   <tfoot>
        <tr>
            <td colspan="7">
                There is no pickups for selected date.
            </td>
        </tr>
    </tfoot>
} 
</table>